server {

    location /assets {
        alias /assets;
        gzip_static on;
        expires max;
        add_header Cache-Control private;
    }

    location /graphql {
        proxy_pass http://server:8080;
    }
}